#include("_inc/_layout.html")
#@layout()
#define content()

	#include("_inc/_header_box.html")
	<!-- Start Page Title Area -->
	<div class="page-title-area item-bg1">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="container">
					<div class="page-title-content">
						<h2>服务内容</h2>
						<ul>
							<li><a href="/">首页</a></li>
							<li>#(article.title ??)</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div><!-- End Page Title Area -->
	<!-- Start Inner Privacy Policy Area -->
	<section class="privacy-policy ptb-100">
		<div class="container">
			<div class="single-privacy">
				<h3 class="mt-0">#(article.title ??)</h3>
				#(article.content ??)
			</div>
		</div>
	</section><!-- End Inner Privacy Policy Area -->

	#include("_inc/_footer_nav.html")

#end