#include("_inc/_layout.html")
#@layout()
#define content()

	<!-- Preloader -->
	<div class="preloader">
		<div class="loader">
			<div class="shadow"></div>
			<div class="box"></div>
		</div>
	</div><!-- End Preloader -->

	<section class="error-area">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="container">
					<div class="error-content"><img src="assets/img/404.jpg" alt="error">
						<h3>404错误</h3>
						<p>无法找到对应的页面，请联系管理员！
						</p><a href="index.html" class="default-btn-one">返回首页</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Error Area -->

#end