#include("_inc/_layout.html")
#@layout()

#define content()
	#include("_inc/_header_box.html")

	<!-- Start Main Banner Two Area -->
	<div class="main-banner-two">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-lg-6 col-md-12">
							<div class="main-banner-content">
								<h1>新产品调研</h1>
								<p>互助调研平台汇集百万大学生，我们提供企业新品、教育培训、3C数码、APP市场、旅游市场、产品消费偏好、服饰款式、满意度等调研服务.</p>
								<div class="banner-btn">
									<a href="about.html" class="default-btn-one"> 开始 <span></span></a>
									<!-- <a class="default-btn" href="pricing.html"> Contact Us <span></span></a> -->
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-12">
							<div class="banner-image">
								<img src="assets/img/home-two/1.png" class="wow fadeInUp" data-wow-delay="1s" alt="image">
								<img src="assets/img/home-two/2.png" class="wow fadeInLeft" data-wow-delay="1s" alt="image">
								<img src="assets/img/home-two/3.png" class="wow fadeInRight" data-wow-delay="1s" alt="image">
								<img src="assets/img/home-two/4.png" class="wow fadeInUp" data-wow-delay="1s" alt="image">
								<img src="assets/img/home-two/5.png" class="wow zoomIn" data-wow-delay="1s" alt="image">
								<img src="assets/img/home-two/main-image.png" class="wow zoomIn" data-wow-delay="1s" alt="image">
							</div>
							<div class="circle-img"><img src="assets/img/home-two/shape.png" alt="image"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="creative-shape"><img src="assets/img/main-banner-shape/home-shape-2.png" alt="main-image"></div>
		<div class="shape-dot"><img src="assets/img/main-banner-shape/dot.png" alt="image"></div>
	</div><!-- End Main Banner Two Area -->
	<!-- Start Services Section -->
	<section class="services-section pt-100 pb-70">
		<div class="container">
			<div class="section-title"><span>我们的服务</span>
				<h3>探索数据服务</h3>
			</div>
			<div class="row">

				<div class="col-lg-4 col-md-6">
					<div class="single-services-box">
						<div class="icon"><i class="flaticon-data-analytics"></i></div>
						<h3>学生调查</h3>
						<p>大学生消费、大学生创业、学生思想动态、学生校外培训、学生减负情况调查</p>
<!--						<div class="services-btn">-->
<!--							<a href="single-services.html" class="services-btn-one"> 更多 <i-->
<!--								class="flaticon-right"></i></a>-->
<!--						</div>-->
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-box">
						<div class="icon"><i class="flaticon-document"></i></div>
						<h3>市场调查</h3>
						<p>大学生在手机市场、APP市场、化妆品市场、旅游市场、培训市场、消费者市场调查</p>
<!--						<div class="services-btn">-->
<!--							<a href="single-services.html" class="services-btn-one"> 更多 <i-->
<!--								class="flaticon-right"></i></a>-->
<!--						</div>-->
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-box">
						<div class="icon"><i class="flaticon-data-management"></i></div>
						<h3>产品调查</h3>
						<p>大学生在3C新产品、产品消费偏好、产品包装、培训课程需求、新款服饰款式调查</p>
<!--						<div class="services-btn">-->
<!--							<a href="single-services.html" class="services-btn-one"> 更多 <i-->
<!--								class="flaticon-right"></i></a>-->
<!--						</div>-->
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-box">
						<div class="icon"><i class="flaticon-big-data"></i></div>
						<h3>问卷设计</h3>
						<p>我司协武汉大学营销中心与创新研究中心专家团队，帮助企业设计专业问卷</p>
<!--						<div class="services-btn">-->
<!--							<a href="single-services.html" class="services-btn-one"> 更多 <i-->
<!--								class="flaticon-right"></i></a>-->
<!--						</div>-->
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-box">
						<div class="icon"><i class="flaticon-chart"></i></div>
						<h3>样本服务</h3>
						<p>样本可按地区、年龄、学校、专业、职业等进行抽样</p>
<!--						<div class="services-btn">-->
<!--							<a href="single-services.html" class="services-btn-one"> 更多 <i-->
<!--								class="flaticon-right"></i></a>-->
<!--						</div>-->
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-box">
						<div class="icon"><i class="flaticon-science"></i></div>
						<h3>数据分析</h3>
						<p>免费提供基础交叉表、自助生成图表、按需提供各类定制交叉表/图表服务</p>
<!--						<div class="services-btn">-->
<!--							<a href="single-services.html" class="services-btn-one"> 更多 <i-->
<!--								class="flaticon-right"></i></a>-->
<!--						</div>-->
					</div>
				</div>
			</div>
		</div>
	</section><!-- End Services Section -->
	<!-- Start About Section -->
	<section class="about-section pb-100">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="about-image"><img src="assets/img/about.png" alt="image"></div>
				</div>
				<div class="col-lg-6">
					<div class="about-content"><span>关于我们</span>
						<h3>专注于数据洞察</h3>
						<p>随着全球互联网快速发展，越来越多的网络用户通过多种终端、多种平台输出数字内容，驱动整个互联网世界迈入到“大数据时代”，海量数据的运用已成为未来竞争和增长的基础，
							运用大数据分析用户特征并通过分析提升企业的业务价值，提高企业的核心竞争力。</p>
						<ul class="about-list">
							<li><i class="flaticon-tick"></i> 专业咨询服务</li>
							<li><i class="flaticon-tick"></i> 客户定制调研</li>
							<li><i class="flaticon-tick"></i> 专业的数据分析团队</li>
							<li><i class="flaticon-tick"></i> 24/7 客服支持</li>
						</ul>
						<div class="about-btn"><a class="default-btn" href="#(CPATH)/about">更多 <span></span></a></div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- End About Section -->
	<!-- Start Fun Facts Section -->
	<section class="fun-facts-area ptb-100">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-fun-fact">
						<h3><span class="odometer" data-count="100">00</span><span class="sign-icon">万+</span></h3>
						<p>样本数量</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-fun-fact">
						<h3><span class="odometer" data-count="80">00</span><span class="sign-icon">+</span></h3>
						<p>完成项目数量</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-fun-fact">
						<h3><span class="odometer" data-count="120">00</span><span class="sign-icon">+</span></h3>
						<p>产品个数</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-fun-fact">
						<h3><span class="odometer" data-count="50">00</span><span class="sign-icon">+</span></h3>
						<p>客户个数</p>
					</div>
				</div>
			</div>
		</div>
	</section><!-- End Fun Facts Section -->
	<!-- Start Process Section -->
	<section class="process-section pt-100 pb-70">
		<div class="container">
			<div class="section-title"><span>工作流程</span>
				<h3>新品调研流程</h3>
			</div>
			<div class="row align-items-center">
				<div class="col-lg-4 col-md-6">
					<div class="process-item">
						<div class="process-image"><img src="assets/img/process/1.png" alt="image"></div>
						<div class="process-content">
							<h3>试测样本抽样</h3>
							<p>确定样本数量，报价，样本信息收集</p>
<!--							<div class="process-btn">-->
<!--								<a href="single-projects.html" class="process-btn-one"> 更多 <i-->
<!--									class="flaticon-right"></i></a>-->
<!--							</div>-->
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="process-item">
						<div class="process-image"><img src="assets/img/process/2.png" alt="image"></div>
						<div class="process-content">
							<h3>试测产品寄送</h3>
							<p>根据样本信息寄送试测产品，反馈寄送结果</p>
<!--							<div class="process-btn">-->
<!--								<a href="single-projects.html" class="process-btn-one"> 更多 <i-->
<!--									class="flaticon-right"></i></a>-->
<!--							</div>-->
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
					<div class="process-item">
						<div class="process-image"><img src="assets/img/process/3.png" alt="image"></div>
						<div class="process-content">
							<h3>数据收集与分析</h3>
							<p>用户产品试用信息收集，数据分析</p>
<!--							<div class="process-btn">-->
<!--								<a href="single-projects.html" class="process-btn-one"> 更多 <i-->
<!--									class="flaticon-right"></i></a>-->
<!--							</div>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- End Process Section -->
	<!-- Start Software Section -->
	<!--<section class="software-section pb-100">
	  <div class="container">
		<div class="row align-items-center">
		  <div class="col-lg-6">
			<div class="software-content"><span>Our Working Process</span>
			  <h2>Software Developement Services</h2>
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
				dolore magna aliqua. Quis ipsum suspendisse ultrices Lorem Ipsum is simply dummy text.</p>
			  <ul class="features-list">
				<li><span>Software Development</span></li>
				<li><span>Automatic Optimization</span></li>
				<li><span>Applicatication Services</span></li>
				<li><span>IT Security Services</span></li>
				<li><span>Data Analytics</span></li>
				<li><span>System Integration Service</span></li>
				<li><span>Help Desk Services</span></li>
				<li><span>API Integration Service</span></li>
			  </ul>
			</div>
		  </div>
		  <div class="col-lg-6">
			<div class="software-image"><img src="assets/img/software.png" alt="image"></div>
		  </div>
		</div>
	  </div>
	</section>-->
	<!-- End Software Section -->
	<!-- Start Testimonial Section -->
	<!--<section class="testimonial-section ptb-100">
	  <div class="container">
		<div class="section-title"><span>Testimonial</span>
		  <h3>What Our Client Say</h3>
		</div>
		<div class="testimonial-slider owl-carousel owl-theme">
		  <div class="testimonial-single-item">
			<div class="testimonial-image"><img src="assets/img/client/1.jpg" alt="image"></div>
			<div class="testimonial-info">
			  <h3>Richard Denial</h3><span>IT Executive</span>
			</div>
			<div class="testimonial-content">
			  <div class="icon"><i class="flaticon-quote"></i></div>
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
				dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
				lacus vel facilisis.</p>
			</div>
		  </div>
		  <div class="testimonial-single-item">
			<div class="testimonial-image"><img src="assets/img/client/2.jpg" alt="image"></div>
			<div class="testimonial-info">
			  <h3>Sarah Taylor</h3><span>Lead Architecure</span>
			</div>
			<div class="testimonial-content">
			  <div class="icon"><i class="flaticon-quote"></i></div>
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
				dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
				lacus vel facilisis.</p>
			</div>
		  </div>
		  <div class="testimonial-single-item">
			<div class="testimonial-image"><img src="assets/img/client/1.jpg" alt="image"></div>
			<div class="testimonial-info">
			  <h3>Alastair Cook</h3><span>Marketing Manager</span>
			</div>
			<div class="testimonial-content">
			  <div class="icon"><i class="flaticon-quote"></i></div>
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
				dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
				lacus vel facilisis.</p>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="testimonial-shape"><img src="assets/img/shape/testimonial-shape-1.png" alt="main-image"></div>
	  <div class="testimonial-shape-img1"><img src="assets/img/shape/testimonial-shape-2.png" alt="image"></div>
	  <div class="testimonial-shape-img2"><img src="assets/img/shape/testimonial-shape-3.png" alt="image"></div>
	</section>
	-->
	<!-- End Testimonial Section -->
	<!-- Start Productive Section -->
	<!-- <section class="productive-section pt-100">
	  <div class="container">
		<div class="row align-items-center">
		  <div class="col-lg-6">
			<div class="productive-content"><span>Let’s Get Started</span>
			  <h3>Are you ready for a better, more productive business</h3>
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
				dolore magna aliqua. Quis ipsum suspendisse ultrices Lorem Ipsum is simply dummy text.</p>
			  <div class="productive-btn"><a class="productive-btn" href="projects.html"> Get Started Project
				  <span></span></a><a href="contact.html" class="productive-btn-one"> Contact With Us <span></span></a>
			  </div>
			</div>
		  </div>
		  <div class="col-lg-6">
			<div class="productive-image"><img src="assets/img/productive.png" alt="image"></div>
		  </div>
		</div>
	  </div>
	</section> -->
	<!-- End Productive Section -->
	<!-- Start Blog Section -->
<!--	<section class="blog-section pt-100 pb-70">-->
<!--		<div class="container">-->
<!--			<div class="section-title"><span>资讯</span>-->
<!--				<h3>平台新闻</h3>-->
<!--			</div>-->
<!--			<div class="row">-->
<!--				<div class="col-lg-4 col-md-6">-->
<!--					<div class="blog-item">-->
<!--						<div class="blog-image"><a href="single-blog.html"><img src="assets/img/blog/3.png" alt="image"></a></div>-->
<!--						<div class="single-blog-item">-->
<!--							<ul class="blog-list">-->
<!--								<li><a href="#"><i class="fa fa-user-alt"></i> Admin</a></li>-->
<!--								<li><a href="#"><i class="fas fa-calendar-week"></i> 7 Dec 2020</a></li>-->
<!--								<li><i class="far fa-comments"></i> 3 Comments</li>-->
<!--							</ul>-->
<!--							<div class="blog-content">-->
<!--								<h3><a href="single-blog.html"> Startup Marketing Solution for Business Owner</a></h3>-->
<!--								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>-->
<!--								<div class="blog-btn"><a href="single-blog.html" class="blog-btn-one"> Read More <i-->
<!--										class="fa fa-chevron-right"></i></a></div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-4 col-md-6">-->
<!--					<div class="blog-item">-->
<!--						<div class="blog-image"><a href="single-blog.html"><img src="assets/img/blog/4.png" alt="image"></a></div>-->
<!--						<div class="single-blog-item">-->
<!--							<ul class="blog-list">-->
<!--								<li><a href="#"><i class="fa fa-user-alt"></i> Admin</a></li>-->
<!--								<li><a href="#"><i class="fas fa-calendar-week"></i> 7 Dec 2020</a></li>-->
<!--								<li><i class="far fa-comments"></i> 3 Comments</li>-->
<!--							</ul>-->
<!--							<div class="blog-content">-->
<!--								<h3><a href="single-blog.html"> Web Developement Best Work in Future World</a></h3>-->
<!--								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>-->
<!--								<div class="blog-btn"><a href="single-blog.html" class="blog-btn-one"> Read More <i-->
<!--										class="fa fa-chevron-right"></i></a></div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">-->
<!--					<div class="blog-item">-->
<!--						<div class="blog-image"><a href="single-blog.html"><img src="assets/img/blog/5.png" alt="image"></a></div>-->
<!--						<div class="single-blog-item">-->
<!--							<ul class="blog-list">-->
<!--								<li><a href="#"><i class="fa fa-user-alt"></i> Admin</a></li>-->
<!--								<li><a href="#"><i class="fas fa-calendar-week"></i> 7 Dec 2020</a></li>-->
<!--								<li><i class="far fa-comments"></i> 3 Comments</li>-->
<!--							</ul>-->
<!--							<div class="blog-content">-->
<!--								<h3><a href="single-blog.html"> Creative solutions to improve your business!</a></h3>-->
<!--								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>-->
<!--								<div class="blog-btn"><a href="single-blog.html" class="blog-btn-one"> 更多 <i-->
<!--										class="fa fa-chevron-right"></i></a></div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->
	<!-- End Blog Section -->
	<!-- Partner section -->
	<section class="partner-section pt-100 pb-70">
		<div class="container">
			<div class="partner-title">
				<span>客户</span>
				<h3>合作伙伴</h3>
			</div>
			<div class="partner-list">
				<div class="partner-item"><a href="#"><img src="assets/img/partner/1.png" alt="image"></a></div>
				<div class="partner-item"><a href="#"><img src="assets/img/partner/2.png" alt="image"></a></div>
				<div class="partner-item"><a href="#"><img src="assets/img/partner/3.png" alt="image"></a></div>
				<div class="partner-item"><a href="#"><img src="assets/img/partner/4.png" alt="image"></a></div>
				<div class="partner-item"><a href="#"><img src="assets/img/partner/5.png" alt="image"></a></div>
				<div class="partner-item"><a href="#"><img src="assets/img/partner/6.png" alt="image"></a></div>
				<div class="partner-item"><a href="#"><img src="assets/img/partner/7.png" alt="image"></a></div>
				<div class="partner-item"><a href="#"><img src="assets/img/partner/8.png" alt="image"></a></div>
				<div class="partner-item"><a href="#"><img src="assets/img/partner/1.png" alt="image"></a></div>
			</div>
		</div>
		<div class="partner-shape"><img src="assets/img/shape/partnar-shape-1.png" alt="main-image"></div>
		<div class="partner-shape-img1"><img src="assets/img/shape/partnar-shape-2.png" alt="image"></div>
	</section><!-- End Partner section -->
	<!-- Start Subscribe Area -->
	<section class="subscribe-area">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 col-md-6">
					<div class="subscribe-content">
						<h2>邮件订阅</h2><span class="sub-title">领取8折优惠券（首个项目）</span>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<form class="newsletter-form">
						<input type="email" class="input-newsletter" placeholder="请输入邮件地址" name="email" required autocomplete="off">
						<button type="submit">订阅</button>
						<div id="validator-newsletter" class="form-result"></div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- End Subscribe Area -->
	#include("_inc/_footer_nav.html")
#end