#include("_inc/_layout.html")
#@layout()
#define content()
	#include("_inc/_header_box.html")

	<!-- Start Page Title Area -->
	<div class="page-title-area">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="container">
					<div class="page-title-content">
						<h2>合伙人招募</h2>
						<ul>
							<li><a href="index.html">首页</a></li>
							<li>合伙人招募</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Page Title Area -->

	<!-- Start Team Section -->
	<section class="team-section pt-100 pb-70">
		<div class="container">
			<div class="section-title"><span>我们的合伙人</span>
				<h3>优秀的合伙人</h3>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="single-team-item">
						<div class="team-image">
							<img src="assets/img/team/1.jpg" alt="team">
							<div class="team-social">
								<a href="#" target="_blank"><i class="fab fa-weixin"></i></a>
								<a href="#" target="_blank"><i class="fab fa-qq"></i></a>
<!--								<a href="#" target="_blank"><i class="fab fa-mobile-phone"></i></a>-->
							</div>
						</div>
						<div class="team-content">
							<h3>楚狂人</h3><span>化妆品</span>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="single-team-item">
						<div class="team-image">
							<img src="assets/img/team/2.jpg" alt="team">
							<div class="team-social">
								<a href="#" target="_blank"><i class="fab fa-weixin"></i></a>
								<a href="#" target="_blank"><i class="fab fa-qq"></i></a>
<!--								<a href="#" target="_blank"><i class="fab fa-mobile"></i></a>-->
							</div>
						</div>
						<div class="team-content">
							<h3>三哥</h3><span>3C数码</span>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="single-team-item">
						<div class="team-image">
							<img src="assets/img/team/3.jpg" alt="team">
							<div class="team-social">
								<a href="#" target="_blank"><i class="fab fa-weixin"></i></a>
								<a href="#" target="_blank"><i class="fab fa-qq"></i></a>
<!--								<a href="#" target="_blank"><i class="fab fa-mobile"></i></a>-->
							</div>
						</div>
						<div class="team-content">
							<h3>Lily.</h3><span>新品调研</span>
						</div>
					</div>
				</div>
<!--				<div class="col-lg-4 col-md-6 col-sm-6">-->
<!--					<div class="single-team-item">-->
<!--						<div class="team-image"><img src="assets/img/team/4.jpg" alt="team">-->
<!--							<div class="team-social"><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a><a href="#"-->
<!--																														 target="_blank"><i class="fab fa-twitter"></i></a><a href="#" target="_blank"><i-->
<!--									class="fab fa-instagram"></i></a></div>-->
<!--						</div>-->
<!--						<div class="team-content">-->
<!--							<h3>Louis Pasteur</h3><span>Marketing Support</span>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-4 col-md-6 col-sm-6">-->
<!--					<div class="single-team-item">-->
<!--						<div class="team-image"><img src="assets/img/team/5.jpg" alt="team">-->
<!--							<div class="team-social"><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a><a href="#"-->
<!--																														 target="_blank"><i class="fab fa-twitter"></i></a><a href="#" target="_blank"><i-->
<!--									class="fab fa-instagram"></i></a></div>-->
<!--						</div>-->
<!--						<div class="team-content">-->
<!--							<h3>Edmond Halley</h3><span>Agent Management</span>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-4 col-md-6 col-sm-6">-->
<!--					<div class="single-team-item">-->
<!--						<div class="team-image"><img src="assets/img/team/6.jpg" alt="team">-->
<!--							<div class="team-social"><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a><a href="#"-->
<!--																														 target="_blank"><i class="fab fa-twitter"></i></a><a href="#" target="_blank"><i-->
<!--									class="fab fa-instagram"></i></a></div>-->
<!--						</div>-->
<!--						<div class="team-content">-->
<!--							<h3>Brian Cox</h3><span>Content Writer</span>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
			</div>
		</div>
	</section><!-- End Team Section -->

	<!-- Start Contact Section -->
	<div class="contact-section ptb-100">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="contact-image"><img src="assets/img/contact.png" alt="image"></div>
				</div>
				<div class="col-lg-6">
					<div class="contact-form">
						<form id="contactForm">
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<div class="form-group">
										<input type="text" name="name" id="name" class="form-control" required data-error="请输入姓名" placeholder="姓名">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="form-group">
										<input type="email" name="email" id="email" class="form-control" required data-error="请输入邮件" placeholder="邮箱地址">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="form-group">
										<input type="text" name="phone_number" id="phone_number" required data-error="请输入电话" class="form-control" placeholder="联系电话">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="form-group">
										<input type="text" name="msg_subject" id="msg_subject" class="form-control" required data-error="请输入行业" placeholder="行业">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-lg-12 col-md-12">
									<div class="form-group">
										<textarea name="message" class="form-control" id="message" cols="30" rows="6" required data-error="请描述问题内容" placeholder="内容"></textarea>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-lg-12 col-md-12"><button type="submit" class="submit-btn">提交</button>
									<div id="msgSubmit" class="h3 text-center hidden"></div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div><!-- End Contact Section -->
	<!-- Start Subscribe Section -->
	<section class="subscribe-Section ptb-100">
		<div class="container">
			<div class="subscribe-content-area mb-0">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6">
						<div class="subscribe-image"><img src="assets/img/subscribe.png" alt="image"></div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="subscribe-content">
							<h2>项目与服务</h2>
							<p>及时了解项目进度，平台服务变更等信息.</p>
						</div>
						<form class="newsletter-form"><input type="email" class="input-newsletter" placeholder="请输入邮件地址"
															 name="EMAIL" required autocomplete="off"><button type="submit">订阅</button>
							<div id="validator-newsletter" class="form-result"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Subscribe Area -->
	#include("_inc/_footer_nav.html")

#end