#include("_inc/_layout.html")
#@layout()
#define css()
<link rel="stylesheet" type="text/css" href="css/find.css" />
<link rel="stylesheet" type="text/css" href="css/swiper.min.css" />
<link rel="stylesheet" type="text/css" href="js/layer_mobile/need/layer.css" />
<style>

	.swiper-container {
		position: fixed;
	}

	.fall-box {
		margin: 3rem .4rem .4rem;
	}

	.fall-box .item{
		margin-bottom: .5rem;
	}

	.item .title-p{
		font-size: .8rem;
		margin-bottom: .5rem;
	}

	.fall-box .section-p{
		background: white;
		padding: .5rem;
	}

	.weui-photo-browser-modal .caption .caption-item.active {
		opacity: 0.8;
		background: #333;
	}

</style>
#end
#define script()
<script type='text/javascript' src="js/weui/swiper.min.js"></script>
<script type='text/javascript' src="js/layer_mobile/layer.js"></script>
<script type='text/javascript' src="js/jquery/masonry.pkgd.min.js"></script>
<script type='text/javascript' src="js/jquery/imagesloaded.pkgd.min.js"></script>
<script>

	var pageNum = 1 ;
	var dataFall = [];
	var totalItem = 10;
	var items = new Array();

    var photoBrowser = null;
    var isLastPage = false;
    var $grid = null;
    var categoryId = '#(category.id ?? 10)';

    $(function() {
		// 顶部分类导航
        var swiper = new Swiper('.nav-container', {
            slidesPerView: 'auto',
            paginationClickable: true
        });

		// 线路图片点击事件处理
		$(document).on('click', '.item-img', function(index) {
			var index = $('.item-img').index(this);
			photoBrowser = $.photoBrowser({items: items, initIndex: index});
			if (photoBrowser != null)
				photoBrowser.open();
		})
		// 导航点击事件处理
		.on('click', '.nav-ul .swiper-slide', function () {

			pageNum = 1;
			items.splice(0, items.length);
			categoryId = $(this).attr("category");

			$('.fall-box').empty();
			$(this).addClass("active-li").siblings().removeClass("active-li");

			if (photoBrowser) {
				photoBrowser.close();
			}

			loadRoute();
		});

        // 瀑布流初始化设置
        $grid = $('.grid').masonry({
            itemSelector : '.grid-item',
            gutter:10
        });

        // layout Masonry after each image loaded
        $grid.imagesLoaded().done( function() {
            $grid.masonry('layout');
        });

        loadRoute();

        $(window).scroll(function(){
            $grid.masonry('layout');
            var scrollTop = $(this).scrollTop();
            var windowHeight = $(this).height();
            var scrollHeight = $(document).height();
            if(!isLastPage && (scrollTop + windowHeight == scrollHeight)) {
                loadRoute();
            }
        });
    })

	function loadRoute() {

		var data = {
			page: pageNum,
			pageSize: 10,
			categoryId: categoryId,
			orderBy: 'created desc'
		};

		$.ajax({
			method: 'post',
			url: '#(CPATH)/routes/paginate',
			data: data,
			dataType: 'json',
			beforeSend: function() {
				Utils.openLoadingWin('加载中..');
			},
			success: function(res) {
				dataFall = res.page.list;
				isLastPage = res.isLastPage;
				setTimeout(function(){
					items = items.concat(Utils.appendFall($grid, dataFall));
					Utils.closeLoadingWin();
					pageNum ++ ;
				}, 500);
			},
			error: function(res) {
				Utils.closeLoadingWin();
			}
		});
	}
</script>
#end

#define content()
<!-- 内容 -->
<div class="weui-content">
	<div class="container">
		<nav class="swiper-container nav-container">
			<ul class="swiper-wrapper nav-ul">
				<li class="swiper-slide #(category ??'active-li')" category="10">
					<a href="javascript:;" class="slide-a">全部</a>
				</li>
				#categories(flag='nav')
				#for(ct : categories)
				<li class="swiper-slide #if(ct.id == (category.id ??)) active-li #end" category="#(ct.id)">
					<a href="javascript:;" class="slide-a">#(ct.title)</a>
				</li>
				#end
				#end
			</ul>
		</nav>

		<!-- routes container -->
		<aside class="fall-box grid"></aside>
	</div>
</div>
<div class="foot-black"></div>

#include("_inc/_footer_nav.html")
#end