#include("_inc/_layout.html")
#@layout()
#define css()
<link rel="stylesheet" type="text/css" href="css/find.css" />
<link rel="stylesheet" type="text/css" href="css/swiper.min.css" />
<link rel="stylesheet" type="text/css" href="js/layer_mobile/need/layer.css" />
<style>

    .title {
        position: fixed;
        width: 100%;
        background: #fff;
        z-index: 1;
        overflow: hidden;
        border-bottom: 1px solid #d9d9d9;
    }

    .fall-box {
        margin: 2.6rem .4rem .4rem;
    }

    .fall-box .item{
        margin-bottom: .5rem;
    }

    .item .price-p{
        margin-top: .0rem;
        color: #444;
        font-size: .7rem;
        padding-bottom: 0rem;
    }

    .item .date-p {
        /*color: #444;*/
        font-size: .8rem;
    }

    .item .title-p{
        color: #000;
        font-size: .8rem;
        margin-bottom: .5rem;
    }

    .fall-box .section-p{
        background: white;
        padding: .5rem;
        /*padding-left: 5%;*/
    }
</style>
#end

#define script()
<script type='text/javascript' src="js/weui/swiper.min.js"></script>
<script type='text/javascript' src="js/layer_mobile/layer.js"></script>
<script type='text/javascript' src="js/jquery/masonry.pkgd.min.js"></script>
<script type='text/javascript' src="js/jquery/imagesloaded.pkgd.min.js"></script>
<script>

    var pageNum = 1 ;
    var dataFall = [];
    var totalItem = 10;
    var items = new Array();

    var photoBrowser = null;
    var isLastPage = false;

    $(function() {

        /*瀑布流初始化设置*/
        var $grid = $('.grid').masonry({
            itemSelector : '.grid-item',
            gutter:10
        });

        // layout Masonry after each image loads
        $grid.imagesLoaded().done( function() {
            $grid.masonry('layout');
        });

        $(document).on('click', '.item-img', function(index) {
            var index = $('.item-img').index(this);
            photoBrowser = $.photoBrowser({items: items, initIndex: index});
            if (photoBrowser != null)
                photoBrowser.open();
        });

        loadRoute();

        $(window).scroll(function(){
            $grid.masonry('layout');
            var scrollTop = $(this).scrollTop();
            var scrollHeight = $(document).height();
            var windowHeight = $(this).height();
            if(!isLastPage && (scrollTop + windowHeight == scrollHeight)) {
                loadRoute();
            }
        });

        function loadRoute() {

            var paramData = {
                page: pageNum,
                pageSize: 10,
                code: '#(code ??)',
                keyword: '#(keyword ??)',
                categoryId: '#(categoryId ??)'
            };

            $.ajax({
                url: '#(CPATH)/route/search/paginate',
                method: 'post',
                data: paramData,
                dataType: 'json',
                beforeSend: function() {
                    Utils.openLoadingWin('加载中..');
                },
                success: function(res) {
                    dataFall = res.page.list;
                    isLastPage = res.isLastPage;
                    setTimeout(function(){
                        items = items.concat(Utils.appendFall($grid, dataFall));
                        Utils.closeLoadingWin();
                        pageNum ++ ;
                    },500);
                },
                error: function(res) {
                    Utils.closeLoadingWin();
                }
            });
        }
    })
</script>
#end

#define content()
<!-- 搜索结果 -->
<div class="weui-content">
    <div class="container">
        <div class="title">
            <div class="weui-cells__title font-16 txt-color-green">搜索线路如下: #( keyword ??)</div>
        </div>

        <aside class="fall-box grid"></aside>
    </div>
</div>
<div id="gohome" title="返回首页"><i class="icon-home"></i></div>
#end