<section class="footer-section ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="footer-heading">
                        <h3>关于我们</h3>
                    </div>
                    <p>互助调研平台是集问卷调研，访员管理，问卷广场于一体的综合性数据收集、分析平台。目前我们专注于在校大学生，提供各类针对大学生的专业化调研、数据分析等服务。</p>
                    <ul class="footer-social">
                        <li><a href="#"><i class="fab fa-weixin"></i></a></li>
                        <li><a href="http://wpa.qq.com/msgrd?v=3&uin=568554288&site=qq&menu=yes"><i class="fab fa-qq"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="footer-heading">
                        <h3>特色服务</h3>
                    </div>
                    <ul class="footer-quick-links">
                        <li><a href="#">学生调查</a></li>
                        <li><a href="#">市场调查</a></li>
                        <li><a href="#">产品调查</a></li>
                        <li><a href="#">数据分析</a></li>
                        <li><a href="#">问卷设计</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="footer-heading">
                        <h3>合作机构</h3>
                    </div>
                    <ul class="footer-quick-links">
                        <li><a href="http://www.ejuster.cn" target="_blank">互助调研</a></li>
                        <li><a href="http://bdi.whu.edu.cn/" target="_blank">武汉大学大数据研究院</a></li>
                        <li><a href="http://www.whueb.com/" target="_blank">武汉大学营销工程与创新研究中心</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="footer-heading">
                        <h3>联系方式</h3>
                    </div>
                    <div class="footer-info-contact"><i class="flaticon-call-answer"></i>
                        <h3>手机</h3><span><a href="tel:+18627771043">+86 18627771043</a></span>
                    </div>
                    <div class="footer-info-contact"><i class="flaticon-envelope"></i>
                        <h3>邮件</h3><span><a href="mailto:huangxin@ninemm.cn">huangxin@ninemm.cn</a></span>
                    </div>
                    <div class="footer-info-contact"><i class="flaticon-maps-and-flags"></i>
                        <h3>地址</h3><span>武汉市汉阳区汉阳大道139号汉商大厦1606</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="partner-shape-img1"><img src="assets/img/shape/partnar-shape-2.png" alt="image"></div>
</section>

<div class="copyright-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <p><i class="far fa-copyright"></i> #(WEB_COPYRIGHT ?? '2019 九毫米信息技术有限公司.') #(WEB_IPC_NO ?? '浙ICP备12035980号')</p>
            </div>
            <div class="col-lg-6 col-md-6">
                <ul>
                    <li><a href="/article/terms">服务条款</a></li>
                    <li><a href="/article/policy">隐私政策</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="go-top"><i class="fas fa-chevron-up"></i><i class="fas fa-chevron-up"></i></div>